.App {
  text-align: center;

}

.App-loader {
  margin-top: calc(50vh - 100px);
  animation: spinner infinite 2s linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
